.doc{
    background-color: snow;
}
.p{
    padding: 10px;
    alignment: right;
    margin: 10px;
}
.image{
    margin: 10px;
}
.imagec{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

}
.divider{
    height:40px;
    width:100%;
}
.divider2{
    height:150px;
    width:100%;
}
.divider3{
    height:100px;
    width:100%;
}